{% extends "housing/base.html" %}
{% load static %}
{% block body %}
<div class="rol-col-12 rol-col-md-6 text-center mt-4">
    <h1 class="bungee-regular text-dark ">Welcome To Bambili Rentals</h1>
</div>
<div class="container py-4">
    <div class="row">
         {% for house in house_list %}
        <div class="col-12 col-sm-6 col-md-4 mb-3"> <!-- Full width on extra-small screens, half on small and 1/3 on medium size.-->
            <div class="card text-white overflow-hidden">
                {% if house.images.exists %}
                    <img src=" {{ house.images.first.image.url }}" class="card-img" alt="A beautiful modern house">
                {% else %}
                    <p>No image</p>
                {% endif %}

                <div class="card-img-overlay d-flex flex-column bg-dark bg-opacity-25 p-3">
                  <!-- The flex-column has made card a parent with a vertical flexbox layout for its children.
                  The flex-colum stacks children on the overlay vertically, compared to horizontally for flex-row.
                  Now the flex-column only affects children (The three divs for title, location and badges, and stacks them vertically.)
                  This divs are just block elements which can enforce their own styling to their children with freewill.-->

                    <div class="d-flex justify-content-between align-items-start">
                        <h5 class="card-title text-truncate me-3">
                            <i class="bi bi-house-check-fill me-2" aria-hidden="true"></i>{{ house.title }}
                        </h5>
                        <span class="badge bg-primary rounded-pill">9</span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center"> <!-- This line says arrange content horizontally(d-flex) then pussh them to the edges(justify content between)-->
                        <h6 class="text-truncate me-3">
                            <i class="bi bi-geo-alt me-2" aria-hidden="true"></i>{{ house.location }}
                        </h6>
                        <span role="button" aria-label="Favorite this house" class="fs-4">
                            <i class="bi bi-balloon-heart"></i>
                        </span>
                    </div>

                    <div class="mt-auto d-flex flex-nowrap overflow-auto pb-2"> <!-- The mt-auto a margin utility pushes it to the bottom of the container
                     This div is a block element stacked automatically by the flex-column, hence its children, badges will
                     Flow horizontally untill the run of spacce and wrap to the next line, since span is and inline element.
                     The mt-auto tells it to take the entire available upper space for itself, hence it geos to the bottom.-->
                        <span class="badge bg-light text-dark rounded-pill">3 Bedrooms</span>
                        <span class="badge bg-light text-dark rounded-pill">2 Bathrooms</span>
                        <span class="badge bg-light text-dark rounded-pill">Pool</span>
                    </div>

                </div>
                <a href="{% url 'housing:house_detail' house.id %}" class="stretched-link" aria-label="View details for Modern Villa"></a>
            </div>

        </div>
        {% empty %}
            <h4 class="display-4">No homes Listed</h4>
        {% endfor %}
    </div>
</div>
{% endblock body %}

