{% extends 'housing/base.html' %}
{#{% load crispy_forms_tags %}#}
{% block body %}
    <div class="content-section">
        <form method="post" >
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                     Review Home
                </legend>
                {{ form.as_p}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Review</button>
            </div>
        </form>
    </div>
{% endblock body %}

{% load cache %}

{% cache 900 hero_homes_fragment %}
<div class="row g-4">
  {% for house in hero_homes %}
    <!-- your hero house card markup -->
  {% endfor %}
</div>
{% endcache %}